# Flock Ignore
########################################

## GNU Make Ignores ##
Makefile
*.make
obj

## VIM Ignores ##
.*.swp

## EMACS Ignores ##
\#*#
*~

## Windows ##
*.ps1

## Visual Studio ##
*.sln
*.suo
*.vcxproj*

## Sublime Text ##
*.sublime*

## Binary ##
Flock

## Documentation ##
*.html
