# Gorgon Ignore
########################################

## GNU Make Ignores ##
Makefile
*.make
obj

## VIM Ignores ##
.*.swp

## EMACS Ignores ##
\#*#
*~

## Windows ##
*.ps1

## Visual Studio ##
*.sln
*.suo
*.vcxproj*

## Binary ##
Gorgon
Tempest

## Documentation ##
*.html
